.hero-section {
  background: linear-gradient(to right, hsl(231, 69%, 60%), hsl(233, 100%, 69%));
  padding: 100px 0;
}

.hero-section h1,
.hero-section p {
  color: white;
}

.hero-section .btn-light {
  background-color: #fff;
  color: hsl(231, 69%, 60%);
  border: none;
}

.hero-section .btn-outline-light {
  border-color: #fff;
  color: #fff;
}

/* Attribution text */
.attribution {
  font-size: 12px;
  color: hsl(228, 45%, 44%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

